.btn {
	 font-weight: 100;
	 font-size: 24px;
	 line-height: 24px;
	 color:#fff;
	 padding: 18px 65px 21px;
	 box-shadow:0 3px 0 #0b506f;
	 background: green;
	 display: block;
	 border-radius: 4px;
	 float: left;
	 border-top:1px solid #0AB55F;
	 margin-bottom: 8px;
}	

